// Remove all default css.
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #FFF;
  color: #555555;
  font-family: Quicksand, Arial, sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}

button {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
}

button:hover {
  cursor: pointer;
}


.main-container {
  font-family: Quicksand;
  background: #4F4F4F;
  width: 100vw;
  height: 100vh;
}


// Fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

// Components
@import "components/navigationbar";
@import "components/infocontainer";
@import "components/codearea";
@import "components/codebox";